
body * {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
}

.container {
    padding: 2em;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: dodgerblue;
    margin-top: 1em;
}

img {
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    margin: 3em;
    max-width: 80%;
}

html {

    background-color: rgb(20, 20, 20);


}