{% extends 'theme.html' %}


{% block title %}
Home
{% endblock title %}


{% block content %}

<div class="row">

    <div class="card bg-dark text-white m-5"style=" margin: auto; width: 50%;  width: 15rem; height: 5rem;">
        <a href="hero/" class="btn btn-dark stretched-link"></a>
        <button class= "button"  style="height: 100%; background-size: cover;">
        <div class="card-img-overlay">
            <h5 class="card-title">Hero Database</h5>
            <p class="card-text"> Heros List </p>
        </div>
    </div>

    <div class="card bg-dark text-white m-5 center" style=" margin: auto; width: 50%; width: 15rem; height: 5rem;">
        <a href="article/" class="btn btn-dark stretched-link"></a>
        <button class="button"  style="height: 100%; background-size: cover;">
        <div class="card-img-overlay">
            <h5 class="card-title">Articles</h5>
            <p class="card-text" , > All Articles </p>

        </div>
    </div>


</div>

{% endblock content %}